<div class="row justify-content-center align-items-center" style="margin-bottom: 10px">

  <div *ngIf="graphTypeSelection != null" class="btn-group mr-1 group-button" role="group" aria-label="grouping methods">
    <button type="button" class="btn btn-secondary" [ngClass]='{"active":graphTypeSelection==0}' (click)="graphTypeSelection = 0; onChange()">Total</button>
    <button type="button" class="btn btn-secondary" [ngClass]='{"active":graphTypeSelection==1}' (click)="graphTypeSelection = 1; onChange()">Per season</button>
    <button type="button" class="btn btn-secondary" [ngClass]='{"active":graphTypeSelection==2}' (click)="graphTypeSelection = 2; onChange()">Per episode</button>
  </div>
  <div *ngIf="seasonSelection != null" class="btn-group mr-2 group-button" role="group" aria-label="season selection" [ngClass]='{"hidden": graphTypeSelection == 1}'>
    <button type="button" class="btn btn-secondary" [ngClass]='{"active":seasonSelection==0}' (click)="seasonSelection = 0; onChange()">All</button>
    <button type="button" class="btn btn-secondary" [ngClass]='{"active":seasonSelection==1}' (click)="seasonSelection = 1; onChange()">Season 1</button>
    <button type="button" class="btn btn-secondary" [ngClass]='{"active":seasonSelection==2}' (click)="seasonSelection = 2; onChange()">Season 2</button>
    <button type="button" class="btn btn-secondary" [ngClass]='{"active":seasonSelection==3}' (click)="seasonSelection = 3; onChange()">Season 3</button>
  </div>

  <div *ngIf="graphStyleSelection != null" class="btn-group mr-3 group-button" role="group" aria-label="graph style selection" [ngClass]='{"hidden": graphTypeSelection == 0}'>
    <button type="button" class="btn btn-secondary" [ngClass]='{"active":graphStyleSelection==0}' (click)="graphStyleSelection = 0; onChange()">
      <i class="fas fa-chart-line"></i>
    </button>
    <button type="button" class="btn btn-secondary" [ngClass]='{"active":graphStyleSelection==1}' (click)="graphStyleSelection = 1; onChange()">
      <i class="fas fa-chart-bar"></i>
    </button>
  </div>

  <div *ngIf="graphDataTypeSelection != null" class=" btn-group mr-3 group-button" role="group" aria-label="graph style selection" [ngClass]='{"hidden": graphTypeSelection != 1}'>
      <button type="button" class="btn btn-secondary" [ngClass]='{"active":graphDataTypeSelection==0}' (click)="graphDataTypeSelection = 0; onChange()">
        By number of times
      </button>
      <button type="button" class="btn btn-secondary" [ngClass]='{"active":graphDataTypeSelection==1}' (click)="graphDataTypeSelection = 1; onChange()">
        By episode average
      </button>
    </div>
</div>


