<div class="container" style="margin-top: 40px">
  <h1> About this Project </h1>
  <p>Disclaimer: this project is a labour of love where I collected and analysed data from the Miss Fisher Murder Mysteries series. 
    If there is any issues with copyright infringement please contact me and let me know.
  </p>
  <h3>inFAQ: inFrequently Asked Questions:</h3>

  <h5>How did you collect this data?</h5>
  <p>
    I watched the series countless times with a spreadsheet in hand and took notes of anything I thought remotely interesting
    to be analysed. After every rewatch I thought of something new that I could have counted and thus started doing it all over again.
  </p>
  <h5>What were you trying to achieve in doing this?</h5>
  <p>
    At first I wanted to verify if there was a pattern in the romantic overtures, such as an increase in scenes together, their proximity in them and such.
    But since I was going to watch the series over and over for collecting these data I seized the opportunity to collect some other interesting information as well.
  </p>
  <h5>Did you discover something interesting while collecting the data?</h5>
  <p>
    There is one scene in S2E1 (Murder Most Scandalous) where there is a continuity mistake.
    Jack enters the establishment with one tie and once he arrives he is wearing another one.
  </p>
  <h5>How did you count how many outfits Phryne uses during each episode?</h5>
  <p>
    I get asked this question a lot (I don't).
    I counted a new outfit every time she changes her blouse or her trousers. If she removes her overcoat or her hat I consider it to be still the same outfit.
    For jack, I mainly counted the number of different ties he wears, which should closely relate to the number of days of the investigation.
    When counting the number of scenes where they wore hats, I did not consider any other kind of head ornaments 
    ( although maybe I should have counted them as well... here goes another rewatch).
  </p>
  <h5>Many metrics are based on the number of scenes. What did you consider to be a 'scene'?</h5>
  <p>
    I considered a scene every time there is a change in context, e.g. if they move to a different location or 
    there seems to be a larger time difference (story-wise) between cuts.
    If a scene is cut in order to show flashbacks, for example, I still count it as a single scene.
    I also did not consider any fashback scenes (when shown with a blue filter).
    I did not base this information in any script or other formal document, so there may be a few discrepancies in the total number of scenes per episode.
  </p>
  <h5>What did you consider as a location?</h5>
  <p>
    I considered locations based on the show's logic, and not the set they were filmed on. So, even if it's obvious that multiple sets have been used for showing
    Phryne's house, for example, I still count it as one location.
  </p>
  <h5>What did you use to create this?</h5>
  <p>
    The visualizations are created using D3 and Javascript. The website uses Angular and Bootstrap.
    I also created several vector drawings for the logo and for some of the visualizations.
    I also used some screenshots from the show and other promotional image on the website, which I hope is okay.
  </p>

  <h1> About Me </h1>
</div>