<app-closeness-visualization [episodesData]="episodes"></app-closeness-visualization>

<app-bar-chart [episodesData]="episodes" title="Name Calling" svgName="nameCallingViz" [parsingInfo]="nameCallingInfo"
    [variables]="['nameCalling']" imageName="Calling" graphStyleSelection="null"></app-bar-chart>

<app-bar-chart [episodesData]="episodes" title="Closeness" svgName="testesvg2" [parsingInfo]="closenessInfo"
    [variables]="['proximity']" graphStyleSelection="null"></app-bar-chart>

<app-bar-chart [episodesData]="episodes" title="Scene Sharing" svgName="sceneSharingViz" [parsingInfo]="talkingInfo"
    [variables]="['talking']" graphStyleSelection="null"></app-bar-chart>

<app-bar-chart [episodesData]="episodes" title="Indulging" svgName="indulgeViz" [parsingInfo]="indulgingInfo"
    [variables]="['jackInPhrynesHome','phryneInPoliceStation']" imageName="Visiting" valueCalculationExtraParameter="totalNumberOfScenes" graphStyleSelection="null">
</app-bar-chart>