<div class="card">
    <h5 class="card-header">Closeness</h5>
    <div class="card-body">
        <app-button-group [selections]="[seasonSelection, graphTypeSelection, null, graphDataTypeSelection]" (selectionsChange)="seasonSelection = $event[0]; graphTypeSelection = $event[1]; graphDataTypeSelection = $event[3]; createVisualization()">
        </app-button-group>

        <div class="row justify-content-center">
            <div class="col-xl-8 col-md-12 col-sm-12">

                <div id="vizcontainer" class="svg-container">
                    <svg id="closenessViz" class="svg-content-responsive" style="width:100%;" viewBox="0 0 500 300"></svg>
                </div>

            </div>

            <div class="col-xl-4 col-md-12 col-sm-12">
                <app-legend [charactersInfo]="closenessInfo" (charactersInfoChange)="closenessInfo = $event; createVisualization()"></app-legend>
                <!--
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Legend</h5>
                      <h6 class="card-subtitle mb-2 text-muted">you can also filter from the graphs here!</h6>
                      <div class="row">
                          <label style="margin: 10px;">
                              <input type="checkbox" [(ngModel)]='selectAll' (change)="changeFilterSelection();"> Select / Descelect all
                          </label>
                      </div>
                      <div *ngFor="let tInfo of talkingInfo; let i = index">
                          <div *ngFor="let info of tInfo.infos; let infoIndex = index">
                              <div class="row">
                                  <label style="margin: 10px;">
                                      <span class="alert alert-primary " [ngStyle]="{'background': info.color, 'border-color':info.highlight}"
                                          style="padding-top:3px;padding-bottom:3px;margin-right: 10px;">
                                      </span>
                                      <input type="checkbox" [(ngModel)]='info.isShowing' (change)="createVisualization();"> {{info.label}}
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div *ngFor="let cInfo of closenessInfo; let i = index">
                        <div *ngFor="let info of cInfo.infos; let infoIndex = index">
                            <div class="row">
                                <label style="margin: 10px;">
                                    <span class="alert alert-primary " [ngStyle]="{'background': info.color, 'border-color':info.highlight}"
                                        style="padding-top:3px;padding-bottom:3px;margin-right: 10px;">
                                    </span>
                                    <input type="checkbox" [(ngModel)]='info.isShowing' (change)="createVisualization();"> {{info.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>-->

            </div>
        </div>
    </div>
</div>