<div class="card">
    <h5 class="card-header">
        Character Appearances
        <!--
        <button type="button" class="btn btn-light" style="float:right" (click)="exportImage()">
            <i class="fas fa-image" style="color:grey"></i>
        </button>-->
    </h5>

    <div class="card-body">
        <app-button-group [selections]="[seasonSelection, graphTypeSelection, graphStyleSelection, null]" (selectionsChange)="seasonSelection = $event[0]; graphTypeSelection = $event[1]; graphStyleSelection = $event[2]; createVisualization()">
        </app-button-group>

        <div class="row justify-content-center">
            <div class="col-xl-9 col-md-12 col-sm-12">
                <div id="vizcontainer" class="svg-container">
                    <svg id="viz" class="svg-content-responsive" style="width:100%;" viewBox="0 0 500 300"></svg>
                </div>
            </div>
            <div class="col-xl-3 col-md-12 col-sm-12">
                <app-legend [charactersInfo]="charactersInfo" (charactersInfoChange)="charactersInfo = $event; createVisualization()"></app-legend>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Based on data obsessively collected by me
    </div>
</div>