/* You can add global styles to this file, and also import other style files */
.card
{
    margin:10px;
    margin-left: 40px;
    margin-right: 40px;
}

#tooltip {


    position: absolute;
    width: 180px;
    height: auto;
    padding: 10px;
    color: #FFFFFF;
    background: #FFFFFF;/*#0E80B3;*/
    opacity: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    }
  
  /* TOOLTIP */
  
  #tooltip.hidden {
    display: none;
  }
  
  #tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  
  div.tooltip {   
  position: absolute;           
  text-align: center;                        
  padding: 10px;             
  font: 16px sans-serif;        
  background: white;/*lightsteelblue;  */ 
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border: 20px;      
  border-radius: 8px;           
  pointer-events: none;         
  }
  