.hidden {
  opacity: 0;
  pointer-events: none;
}
.card
{
    margin:10px;
    margin-left: 40px;
    margin-right: 40px;
}

.group-button
{
  margin-bottom: 10px;
}

.legend-color
{
  padding-top:3px;
  padding-bottom:3px;
  margin-right: 10px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 60%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
