@font-face {
  font-family: "bittersweet";
  src: url("../../assets/fonts/Bittersweet.ttf");
}

@font-face {
  font-family: "anna";
  src: url("../../assets/fonts/itc-anna-std.otf");
}

.container {
    text-align: center;
}

.title {
    font-family: bittersweet;
    font-weight: bold;
    font-size: 5em;
}

.subtitle {
    font-family: bittersweet;
    font-size: 3em;
}